%table.table.table-striped
  %thead
    %tr
      %th
        URL
      %th
        Custom URL
      %tbody
        - @records.each do |r|
          %tr
            %td
              = r.full_url
            %td
              %a{:href => "http://#{site_name}/#{r.hashed_url}"}
                = r.hashed_url
