p {
  &.notice {
    background-color: #56F084;
    border-width: 2px;
    border-color: #1FF25F;
    height: 40px;
  }

  &.error {
    background-color: #F76A6A;
    border-width: 2px;
    border-color: #F21F1F;
    height: 40px;
  }
}

input#url {
  height: 35px;
}

input#custom_url {
  height: 35px;
}
