%div.row
  %ul.nav.nav-pills
    %li{:class => ('active' if current_controller == 'urls' && current_action == 'index')}
      %a{:href => root_path}
        Home
    %li{:class => ('active' if current_controller == 'urls' && current_action == 'all')}
      %a{:href => all_path}
        List All URLs
